body {
  background: black;
  color: white;
  font: 'Roboto', sans-serif;
}

.navbar {
  background-color: #1F2B96; /* Background color for the navigation bar */
  overflow: hidden; /* Clear floats */
}
