body {
    background: black;
    color: white;
    font: 'Roboto', sans-serif;
}

.navbar {
  background-color: black; /* Background color for the navigation bar */
  overflow: hidden; /* Clear floats */
}

/* Style for the navigation links */
.navbar a {
  float: right; /* Align links to the right */
  display: block; /* Make the links block-level for better spacing */
  color: white; /* Text color for links */
  text-align: center; /* Center text horizontally */
  padding: 14px 16px; /* Add padding for spacing */
  text-decoration: none; /* Remove underline from links */
}

/* Style for the active link */
.navbar a.active {
  background-color: black; /* Background color for the active link */
}

/* Hover effect for links */
.navbar a:hover {
  background-color: black; /* Background color on hover */
  color: white; /* Text color on hover */
}
h1 {
    color: #00ACC1;
    font-size: 48px;
    font-family: Oregano;
    font-weight: 400;
    line-height: 27.50px;
    word-wrap: break-word
    }
    h2
    {
      color: white;
      font-size: 32px;
      font-family: Oswald;
      font-weight: 600;
      line-height: 27.50px;
      word-wrap: break-word
    }
    h3
    {
        color: white;
        font-size: 32px;
        font-family: Oswald;
        font-weight: 400;
        line-height: 27.50px;
        word-wrap: break-word;
        
    }
    h4
    {
      color: #00ACC1;
      font-size: 32px;
      font-family: Oregano;
      font-weight: 400;
      line-height: 27.50px;
      word-wrap: break-word
    }
    .container {
        display: flex; /* Use flexbox to create a flexible container */
        align-items: center; /* Vertically center the content */
      }
      
      .image {
        max-width: 50%; /* Adjust the width of the image as needed */
      }
      
      .text {
        flex: 1; /* Allow the text to take up the remaining space */
        padding: 10px; /* Add spacing around the text */
      }
      
      .pill-button {
        background-color: #000a5d;
        border: none;
        border-radius: 50px; /* Creates a pill shape */
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }
      
      .image-container {
        display: flex;
        justify-content: space-between;
      }
      
      .image {
        width: 150px; /* Adjust the width as needed */
        height: 150px; /* Maintain the aspect ratio */
      }